html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mainText{
    padding: 75px 20px;
}

.mainImage{
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
    margin: 40px;
}

.mainSubTitle{
    font-weight: 400;
    letter-spacing: 2px;
}

.smallText{
    text-align: right;
    color: grey;
}

.makeYourOwnDiv{
    background: grey;
    margin: 0;
}

.makeYourOwnText{
    margin: 100px 0 20px 0;
    color: white;
}



.cancel{
    float: right;
}

.table.dataTable thead > tr > th {
    padding-left: 30px !important;
    padding-right: initial !important;
}

.table.dataTable thead .sorting:after,
.table.dataTable thead .sorting_asc:after,
.table.dataTable thead .sorting_desc:after {
    left: 8px !important;
    right: auto !important;
}



pbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F7F9FC;
    font-family: system, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    color: #5d6494;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pcontainer {

    width: 130px;
    height: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pbox {
    margin-top: 120px;
    margin-left: 78px;
    position: absolute;
    width: 255px;
    height: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow ease 1s;
    transition: -webkit-box-shadow ease 1s;
    transition: box-shadow ease 1s;
    transition: box-shadow ease 1s, -webkit-box-shadow ease 1s;
}

.picon_bg {
    width: 200px;
    height: 200px;
    border-radius: 40px;
    border: 1px solid rgba(225, 227, 232, 0.18);
    -webkit-box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    background-color: #67605a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 2.6s ease;
    transition: all 1.9s ease;
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
    will-change: transform;
}

.picon {
    margin-left: 70px;
    position: relative;
    margin-top: -5px;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
    will-change: transform;
}




.psuper-box:hover .pbox {
    /*   border: 1px solid rgba(225, 227, 232, 0.18); */
    -webkit-box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    -webkit-transition-delay: 0.832s;
    transition-delay: 0.32s;
}

.psuper-box:hover .picon_bg {
    -webkit-transform: translateY(-32px) scale(6);
    transform: translateY(-32px) scale(6);
}

.psuper-box:hover .picon {
    -webkit-transform: translateY(30px) scale(1.4);
    transform: translateY(30px) scale(1.4);
}

.psuper-box {
    margin: 0 130px 330px 0;
    width: 180px;
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ptitle {
    position: relative;
    text-decoration: none;
}

.ptext {
    position: relative;
    top: -20px;
    color: #fff;
    width: 200px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
}

.psuper-box:hover .ptext {
    opacity: 0;
    -webkit-transform: translateY(-4px) scale(.8);
    transform: translateY(-4px) scale(.8);
}

.pbox::after {
    content: "pizza deneme yapýyorum.";
    position: absolute;
    width: 170px;
    top: 210px;
    opacity: 0;
    font-size: 13px;
    color: #fff;
    line-height: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
}

.psuper-box:hover .pbox::after {
    opacity: 1;
}

.pdr {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 100px;
}

.ptext.remove:link {
    text-decoration: none;
}

.ptext.remove:visited {
    text-decoration: none;
}

.ptext.remove:hover {
    text-decoration: underline;
}

.ptext.remove:active {
    text-decoration: none;
}
.ptitle.remove:link {
    text-decoration: none;
}

.ptitle.remove:visited {
    text-decoration: none;
}

.ptitle.remove:hover {
    text-decoration: underline;
}

.ptitle.remove:active {
    text-decoration: none;
}