@page
@model RazorPizzeria.Pages.IndexModel
@{
    ViewData["Title"] = "Razor Pizzeria";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="assets/vendors/animate/animate.css">
    <link rel="stylesheet" href="~/assets/css/Slider.css" />
    <link rel="stylesheet" href="~/assets/css/Slider2.css" />
    <link rel="stylesheet" href="assets/css/foodhut.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Navbar -->
    <nav class="custom-navbar navbar navbar-expand-lg navbar-dark fixed-top" data-spy="affix" data-offset-top="10">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#order">Order</a>
                </li>
                

            </ul>
            <a class="navbar-brand m-auto" href="#">
                <img src="assets/imgs/logo.svg" class="brand-img" alt="">
                <span class="brand-txt">Razor Pizzeria</span>
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="components.html" class="btn btn-primary ml-xl-4">Components</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- header -->
    <header id="home" class="header">
        <div class="overlay text-white text-center">
            <h1 class="display-2 font-weight-bold my-3">Razor Pizzeria</h1>
            <h2 class="display-4 mb-5">Always fresh &amp; Delightful</h2>
            <a class="btn btn-lg btn-primary" href="Forms/CustomPizza">Make Your Own Pizza</a>
        </div>
    </header>

     <!-- ORDER Section  -->
<div id="order" class="container-fluid bg-dark text-light py-5 text-center wow fadeIn">
        <h2 class="section-title py-5">Our Great Selection Of Pizzas</h2>
        <div class="row justify-content-center">
            <div class="col-sm-7 col-md-4 mb-5">
                <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a onclick="seeAllPizzas()" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#foods" role="tab" aria-controls="pills-home" aria-selected="true">Foods</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="seeAllDrinks()" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#drinks" role="tab" aria-controls="pills-profile" aria-selected="false">Drinks</a>
                    </li>
                    <li>
                        <a class="nav-link seeAll" style="display: block" id="seeAllPizza" id="pills-profile-tab" data-toggle="pill" href="#xfoods" role="tab" aria-controls="pills-profile" aria-selected="false">See All</a>
                    </li>
                    <li>
                        <a class="nav-link seeAll" style="display: none" id="seeAllDrink" id="pills-profile-tab" data-toggle="pill" href="#xdrinks" role="tab" aria-controls="pills-profile" aria-selected="false">See All</a>
                    </li>
                </ul>
            </div>
        </div>
    <div class="tab-content" id="pills-tabContent">
        <!--Slider Foods Başlangıç-->
        <div class="tab-pane fade show active" id="foods" role="tabpanel" aria-labelledby="pills-home-tab">
            <div id="slider">
                <input type="radio" name="slider" id="slide1" checked>
                <input type="radio" name="slider" id="slide2">
                <input type="radio" name="slider" id="slide3">
                <input type="radio" name="slider" id="slide4">
                <input type="radio" name="slider" id="slide5">
                <input type="radio" name="slider" id="slide6">
                <input type="radio" name="slider" id="slide7">
                <input type="radio" name="slider" id="slide8">
                <div id="slides">
                    <div id="overflow">
                        <div class="inner">
                            <div class="slide slide_1">
                                <div class="slide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/margerita.png" class="rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$4</a></h1>
                                                <h4 class="pt20 pb20">Margerita</h4>
                                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                                                <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide slide_2">
                                <div class="slide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/bolognese.png" class="rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$5</a></h1>
                                                <h4 class="pt20 pb20">Bolognese</h4>
                                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                                                <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide slide_3">
                                <div class="slide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/carbonara.png" class="rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$6</a></h1>
                                                <h4 class="pt20 pb20">Carbonara</h4>
                                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                                                <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide slide_4">
                                <div class="slide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/meatfeast.png" class="rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$6</a></h1>
                                                <h4 class="pt20 pb20">Meatfeast</h4>
                                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                                                <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide slide_5">
                                <div class="slide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/mushroom.png" class="rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$5</a></h1>
                                                <h4 class="pt20 pb20">Mushroom</h4>
                                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                                                <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide slide_6">
                                <div class="slide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/pepperoni.png" class="rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$5</a></h1>
                                                <h4 class="pt20 pb20">Pepperoni</h4>
                                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                                                <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide slide_7">
                                <div class="slide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/seafood.png" class="rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$5</a></h1>
                                                <h4 class="pt20 pb20">Seafood</h4>
                                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                                                <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide slide_8">
                                <div class="slide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/vegetarian.png" class="rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                                                <h4 class="pt20 pb20">Vegetarian</h4>
                                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                                                <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="controls">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                    <label for="slide5"></label>
                    <label for="slide6"></label>
                    <label for="slide7"></label>
                    <label for="slide8"></label>
                </div>
                <div id="bullets">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
            </div> 
        </div>
        <!--Slider Foods Bitiş-->
        <!--See All Foods Başlangıç-->
        <div class="tab-pane fade" id="xfoods" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row">
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/Margerita.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$4</a></h1>
                            <h4 class="pt20 pb20">Margerita</h4>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                            <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/Bolognese.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$5</a></h1>
                            <h4 class="pt20 pb20">Bolognese</h4>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                            <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/Carbonara.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$6</a></h1>
                            <h4 class="pt20 pb20">Carbonara</h4>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                            <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/MeatFeast.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$6</a></h1>
                            <h4 class="pt20 pb20">MeatFeast</h4>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                            <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/Mushroom.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$5</a></h1>
                            <h4 class="pt20 pb20">Mushroom</h4>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                            <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/Pepperoni.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$5</a></h1>
                            <h4 class="pt20 pb20">Pepperoni</h4>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                            <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/Seafood.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$5</a></h1>
                            <h4 class="pt20 pb20">Seafood</h4>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                            <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/Vegetarian.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                            <h4 class="pt20 pb20">Vegetarian</h4>
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident illum officiis fugit laudantium voluptatem sit iste delectus qui ex. </p>
                            <h1 class="text-center mb-4"><a href="#" class="badge order-btn">Order Now!</a></h1>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--See All Foods Bitiş-->


        <!--Slider Drinks Başlangıç-->
        <div class="tab-pane fade" id="drinks" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div id="sslider">
                <input type="radio" name="sslider" id="sslide1" checked>
                <input type="radio" name="sslider" id="sslide2">
                <input type="radio" name="sslider" id="sslide3">
                <input type="radio" name="sslider" id="sslide4">
                <input type="radio" name="sslider" id="sslide5">
                <input type="radio" name="sslider" id="sslide6">
                <input type="radio" name="sslider" id="sslide7">
                <input type="radio" name="sslider" id="sslide8">
                <div id="sslides">
                    <div id="overflow">
                        <div class="inner">
                            <div class="sslide sslide_1">
                                <div class="sslide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparentcola border my-3 my-md-0">
                                            <img src="assets/imgs/cocacola.png" class="rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                                                <h4 class="pt20 pb20">Coca-Cola</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sslide sslide_2">
                                <div class="sslide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparentlemonade border my-3 my-md-0">
                                            <img src="assets/imgs/lemonade.png" class="rounded-0 imglemonade card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                                                <h4 class="pt20 pb20">Lemonade</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sslide sslide_3">
                                <div class="sslide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/orange-juice.png" class="rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                                                <h4 class="pt20 pb20">Orange Juice</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sslide sslide_4">
                                <div class="sslide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/Coffee.png" class="rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                                                <h4 class="pt20 pb20">Coffee</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sslide sslide_5">
                                <div class="sslide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/watermelon-juice.png" class="rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                                                <h4 class="pt20 pb20">Watermelon Juice</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sslide sslide_6">
                                <div class="sslide-content">
                                    <div class="col-md-3">
                                        <div class="card milkshake bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/milkshake-chocolate.png" class="imgmilkshake rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                                                <h4 class="pt20 pb20">Milkshake Chocolate</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sslide sslide_7">
                                <div class="sslide-content">
                                    <div class="col-md-3">
                                        <div class="card milkshake bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/milkshake-strawberry.png" class="imgmilkshake rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                                                <h4 class="pt20 pb20">Milkshake Strawberry</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sslide sslide_8">
                                <div class="sslide-content">
                                    <div class="col-md-3">
                                        <div class="card bg-transparent border my-3 my-md-0">
                                            <img src="assets/imgs/tea.png" class="rounded-0 card-img-top mg-responsive">
                                            <div class="card-body">
                                                <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                                                <h4 class="pt20 pb20">Tea</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="controls">
                    <label for="sslide1"></label>
                    <label for="sslide2"></label>
                    <label for="sslide3"></label>
                    <label for="sslide4"></label>
                    <label for="sslide5"></label>
                    <label for="sslide6"></label>
                    <label for="sslide7"></label>
                    <label for="sslide8"></label>
                </div>
                <div id="bullets">
                    <label for="sslide1"></label>
                    <label for="sslide2"></label>
                    <label for="sslide3"></label>
                    <label for="sslide4"></label>
                </div>
            </div>
        </div>
        <!--Slider Drinks Bitiş-->
        <!--See All Drinks Başlangıç-->
        <div class="tab-pane fade" id="xdrinks" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row">
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/cocacola.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                            <h4 class="pt20 pb20">Coca-Cola</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/lemonade.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                            <h4 class="pt20 pb20">Lemonade</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/orange-juice.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                            <h4 class="pt20 pb20">Orange Juice</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/Coffee.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                            <h4 class="pt20 pb20">Coffee</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/watermelon-juice.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                            <h4 class="pt20 pb20">Watermelon Juice</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/milkshake-chocolate.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                            <h4 class="pt20 pb20">Milkshake Chocolate</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/Milkshake-Strawberry.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                            <h4 class="pt20 pb20">Milkshake Strawberry</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="assets/imgs/tea.png" class="rounded-0 card-img-top mg-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a class="badge badge-primary">$12</a></h1>
                            <h4 class="pt20 pb20">Tea</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--See All Foods Bitiş-->
    </div>
</div>

   <!--  About Section  -->
    <div id="about" class="container-fluid wow fadeIn" id="about"data-wow-duration="1.5s">
        <div class="row">
            <div class="col-lg-5 has-img-bg"></div>
            <div class="col-lg-7">
                <div class="row justify-content-center">
                    <div class="col-sm-8 py-5 my-5">
                        <h2 class="mb-4">About Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, quisquam accusantium nostrum modi, nemo, officia veritatis ipsum facere maxime assumenda voluptatum enim! Labore maiores placeat impedit, vero sed est voluptas!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita alias dicta autem, maiores doloremque quo perferendis, ut obcaecati harum, <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum necessitatibus iste,
                        nulla recusandae porro minus nemo eaque cum repudiandae quidem voluptate magnam voluptatum? <br>Nobis, saepe sapiente omnis qui eligendi pariatur. quis voluptas. Assumenda facere adipisci quaerat. Illum doloremque quae omnis vitae.</p>
                        <p><b>Lonsectetur adipisicing elit. Blanditiis aspernatur, ratione dolore vero asperiores explicabo.</b></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ab itaque modi, reprehenderit fugit soluta, molestias optio repellat incidunt iure sed deserunt nemo magnam rem explicabo vitae. Cum, nostrum, quidem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- CONTACT Section  -->
    <div id="contact" class="container-fluid bg-dark text-light border-top wow fadeIn">
        <div class="row">
            <div class="col-md-6 px-0">
                <div id="map" class="map-border"></div>
            </div>
            <div class="col-md-6 px-5 has-height-lg middle-items">
                <h3>FIND US</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, laboriosam doloremque odio delectus, sunt magnam laborum impedit molestiae, magni quae ipsum, ullam eos! Alias suscipit impedit et, adipisci illo quam.</p>
                <div class="text-muted">
                    <p><span class="ti-location-pin pr-3"></span> 12345 Fake ST NoWhere, AB Country</p>
                    <p><span class="ti-support pr-3"></span> (123) 456-7890</p>
                    <p><span class="ti-email pr-3"></span>info@website.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark text-light text-center border-top wow fadeIn">
        <p class="mb-0 py-3 text-muted small">&copy; Copyright <script>document.write(new Date().getFullYear())</script> | Designed by <a href="http://www.sedatkavak.com">DikseD</a></p>
    </div>

    <script src="~/assets/js/Slider.js"></script>
    <script src="~/assets/js/Slider2.js"></script>


    <!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- wow.js -->
    <script src="assets/vendors/wow/wow.js"></script>

    <!-- google maps -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script>

    <!-- FoodHut js -->
    <script src="assets/js/foodhut.js"></script>

</body>
</html>